.title{
    background-color: #926d3e;
    font-weight: 600;
    color: black;
    padding: 3px 0px;
}

.card{
    margin-top: 30px;
    background-color: #dac19c;
    border-radius: 5px;
    transition: all 0.5s;
}

.image{
    padding: 0px 10px 10px 10px;
}

.card:hover{
    box-shadow: 5px 5px 10px #7e7d7d;
}